* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Se asignará dinámicamente */
}